{% import "bootstrap/wtf.html" as wtf %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <!-- --------------- JavaScript HERE ----------- -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

        <!-- CSS sheet HERE  -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

        <!-- Bootstrap CSS used mostly to add diagrams  -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <header>

        <section class="flex">
    
            <input type="checkbox" name="" id="toggler">
            <label for="toggler" class="bi bi-list bars"></label>
    
            <a class="logo" href="{{ url_for('index') }}">Fish<span>.</span></a>
    
            <nav class="navbar">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('index') }}#info">About</a>
                <a href="{{ url_for('index') }}#products">Products</a>
            </nav>
    
            <div class="diagrams">
                <a href="{{ url_for('cart') }}" class="bi bi-bag-fill" ></a>
            </div>
    
        </section>
    
    </header>

        {% block body %}

        <!-- CONTENT HERE -->

        {% endblock %}
    
        

    </body>
</html>
